.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: .5em 1em;
  border: 1px solid grey;
  border-radius: 5px;
  width: 550px;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-row {
  display: flex;
  align-items: center;
  margin: .5em 0;
}

.card-row h2 {
  margin: 0;
}

.card-drink {
  font-size: 1.5em;
  margin-right: .5em;
}