.card {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px solid #ece9e9;
  border-radius: 5px;
  box-shadow: -4px 1px 4px #ece9e9;
  width: 700px;
}

.card-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-row {
  display: flex;
  align-items: center;
  margin: .5em 0;
}

.card-row h2 {
  margin: 0;
}

.summary-container {
  width: 60%;
  margin-right: 1em;
  /* border-right: 1px solid #ece9e9; */
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-right: 2em;
}

.summary h2 {
  margin: .5em 0;
}

.card-drink {
  font-size: 5em;
  color: #713e8a;
}

.addition-sidebar {
  width: 40%;
  border-left: 1px solid #ece9e9;
  box-shadow: -3px 1px 5px #fbfbfb;
}

.addition-wrapper {
  width: 100%;
}

.addition-wrapper:not(:last-child) {
  border-bottom: 1px solid #ece9e9;
}