.addition-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addition-btn {
  margin: 0 .5em;
  padding: .5em 1em;

  background-color: #00d1b2;
  color: white;
  border: none;
  border-radius: 5px;
}

.addition-btn:hover {
  background-color: #00C4A9;
}

.addition-btn:active {
  background-color: #00b89c;
}