.addition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #00d1b2;
  color: white;
  border: none;
  border-radius: 5px;
}

.info {
  margin: 0 .5em;
  padding: .5em 1em;
}

.addition-container:hover {
  background-color: #00C4A9;
}

.addition-container:active {
  background-color: #00b89c;
}