<div class="addition-container">
  <h4 class="label">{{addition.name}}</h4>
  <select class="addition-select" [(ngModel)]="selectedOption" (change)="saveSelection()">
    <option [ngValue]="null">None</option>
    <option *ngFor="let option of addition.options" [ngValue]="option">
      {{option.name}} 
      <ng-container *ngIf="showPrice(option)">
      - {{option.price | currency}}
      </ng-container>
    </option>
  </select>
  <span>{{coffeeOrder.additions.selectedOptions | json}}</span>
  <span *ngIf="showCappuccinoMessage" class="nudge">Make Cappuccino?</span>
</div>