<div class="addition-container">
  <h4>{{addition.name}}</h4>
  <select [(ngModel)]="selectedOption" (change)="saveSelection()">
    <option [ngValue]="null">None</option>
    <option *ngFor="let option of addition.options" [ngValue]="option">
      {{option.name}} - {{option.price | currency}}
    </option>
  </select>

  <ng-container *ngIf="selectedOption">
    <span>Foam?</span>
  <select [(ngModel)]="selectedFoam" (change)="saveSelection()">
    <option [ngValue]="null">None</option>
    <option *ngFor="let foam of addition.foamOptions" [ngValue]="foam">
      {{foam}}
    </option>
  </select>
  </ng-container>
</div>